
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.bg-light{
  border-bottom: 2px solid $blue;
  box-shadow: 1px -8px 28px black;
}
.desc_bg{
  background-color:#FFE0B2;
  height:72%;
  z-index:-1;
}
.desctxt{
  position:relative;
  top:53px;
}
.mascot{
  background-image:url('/img/mascot1.png');
  width: 53%;
  height: 131%;
}
.line{
  border:1px solid $indigo; 
  width:60px;
}
.desctxt > h1{
  line-height: 0.7 !important;
}