// Variables
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Poppins');

.nav.foot-nav a{
    color:#fff;
    font-family: "poppins";
}
.nav.foot-nav a:hover{
    background-color:$blue;
 
}