*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

figcaption,
header,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: linear-gradient(45deg, #5c6bc0, #64b5f6, #81d4fa, #b2ebf2, #009688);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }

  50% {
    background-position: 100% 49%;
  }

  100% {
    background-position: 0% 52%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }

  50% {
    background-position: 100% 49%;
  }

  100% {
    background-position: 0% 52%;
  }
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

h1,
h3 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

address {
  font-style: normal;
  line-height: inherit;
}

address,
ul {
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
}

ul ul {
  margin-bottom: 0;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

.h1,
.h3,
h1,
h3 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1,
h1 {
  font-size: 2.5rem;
}

.h3,
h3 {
  font-size: 1.75rem;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-6,
.col-12,
.col-lg-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-6 {
  -webkit-box-flex: 0;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: .65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: .5rem;
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
  width: 100%;
}

.fade {
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered:before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: .5;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered:before {
    height: calc(100vh - 3.5rem);
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

@media (min-width: 768px) {
  .justify-content-md-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.my-5 {
  margin-bottom: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  img {
    page-break-inside: avoid;
  }

  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }

@page {
    size: a3;
}

  .container,
  body {
    min-width: 992px !important;
  }
}

.modal.of-elegant-modal .modal-dialog {
  opacity: 0;
  -webkit-transition: opacity .4s, -webkit-transform .5s;
  transition: opacity .4s, -webkit-transform .5s;
  transition: transform .5s, opacity .4s;
  transition: transform .5s, opacity .4s, -webkit-transform .5s;
  -webkit-transform: scale(0.94);
  transform: scale(0.94);
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: .8em;
}

.modal.of-elegant-modal.show .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.of-elegant-modal .of-intro-container {
  background-image: url("/img/login/fox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #fff;
  text-align: center;
}

.of-elegant-modal a:hover {
  text-decoration: none;
}

.of-elegant-modal input.form-control:focus {
  border-color: #dfe1e5;
}

.of-elegant-modal .of-show {
  opacity: 1 !important;
  visibility: visible !important;
}

.of-elegant-modal .of-login-container.of-show {
  -webkit-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
}

.of-elegant-modal .of-forgot-container.of-show,
.of-elegant-modal .of-register-container.of-show {
  top: 0;
  -webkit-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  visibility: visible !important;
}

@media screen and (max-width: 992px) {
  .of-elegant-modal .of-forgot-container.of-show,
  .of-elegant-modal .of-register-container.of-show {
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
  }
}

.of-elegant-modal .form-control {
  padding-left: 50px;
  background-color: #f8f9fc;
  border: 1px solid #f3f5f9;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  font-size: 1em;
}

.of-elegant-modal .form-control:focus {
  border-color: #f3f5f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.of-elegant-modal .form-control.no-icon {
  padding: .75rem;
}

.of-elegant-modal .form-group {
  color: #a2a2a2;
}

.of-elegant-modal .form-group .of-input-container {
  position: relative;
}

.of-elegant-modal .form-group .of-input-container .of-input-icon {
  width: 48px;
  height: 100%;
  position: absolute;
  top: -7px;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 300%;
}

.of-elegant-modal .form-group .of-input-container .of-input-icon img {
  width: 18px;
  height: 18px;
}

.of-elegant-modal .form-group .of-input-container .of-input-validation {
  width: 48px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 300%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.of-elegant-modal .of-toggle-link {
  display: block;
  margin-top: 40px;
  color: #323232;
  text-align: center;
}

.of-elegant-modal .of-toggle-link.of-signin-link {
  margin-top: 15px;
}

.of-elegant-modal .of-toggle-link:hover {
  color: #000;
}

.of-elegant-modal .of-login-container {
  opacity: 0;
  visibility: hidden;
  padding-right: 35px;
  padding-left: 35px;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translate3d(-10%, 0, 0);
  transform: translate3d(-10%, 0, 0);
}

.of-elegant-modal .of-login-container .of-form-description {
  color: #6d6969;
}

.of-elegant-modal .of-login-container .of-forgot-password {
  color: #a2a2a2;
  font-size: .9em;
  font-weight: 300;
}

.of-elegant-modal .of-login-container .of-forgot-password:hover {
  text-decoration: none;
}

.of-elegant-modal .of-login-container .of-login-btn-container .of-login-btn {
  padding: 8px 30px;
  border-radius: 25px;
  background: #55a8fd;
  border-color: transparent;
  font-size: .9em;
}

.of-elegant-modal .of-login-container .of-login-btn-container .of-login-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.of-elegant-modal .of-login-container .of-login-btn-container .of-login-btn:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 992px) {
  .of-elegant-modal .of-login-container .of-login-btn-container .of-login-btn {
    display: block;
    width: 100%;
    border-radius: .25em;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 992px) {
  .of-elegant-modal .of-login-container .of-login-btn-container {
    text-align: center;
  }
}

.of-elegant-modal .of-login-container .of-social-login div {
  padding: 18px;
  margin-right: 5px;
  border-radius: 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}

.of-elegant-modal .of-login-container .of-social-login div.google {
  background-size: 20px 20px;
  background-image: url("/img/login/google.svg");
  -webkit-box-shadow: 0 0 5px 0 #ccc;
  box-shadow: 0 0 5px 0 #ccc;
}

.of-elegant-modal .of-login-container .of-social-login div.facebook {
  background-color: #385c8e;
  background-image: url("/img/login/facebook.svg");
}

.of-elegant-modal .of-login-container .of-social-login div.twitter {
  background-color: #03a9f4;
  background-image: url("/img/login/twitter.svg");
}

.of-elegant-modal .of-login-container .of-social-login div:last-child {
  margin-right: 0;
}

.of-elegant-modal .of-forgot-container {
  position: absolute;
  top: 0;
  height: 100%;
  padding-right: 35px;
  padding-left: 35px;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  -ms-transform: translate3d(10%, 0, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.of-elegant-modal .of-forgot-container .of-forgot-link {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.of-elegant-modal .of-register-container {
  position: absolute;
  top: 0;
  padding-right: 35px;
  padding-left: 35px;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  -ms-transform: translate3d(10%, 0, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 992px) {
  .of-elegant-modal .of-register-container {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }
}

.of-elegant-modal .of-register-container .of-validation-tips {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  font-size: .9em;
}

.of-elegant-modal .of-register-container .of-validation-tips .tips:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #00ae3e;
}

.of-elegant-modal .of-register-container .of-validation-tips .tips.done {
  text-decoration: line-through;
}

.of-elegant-modal .of-block-btn {
  padding: .55rem .75rem;
  background-color: #2ecc71;
  border-color: transparent;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.of-elegant-modal .of-block-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.of-elegant-modal .of-block-btn:disabled {
  cursor: not-allowed;
}

.of-elegant-modal .control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: .9em;
}

.of-elegant-modal .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.of-elegant-modal .control__indicator {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e6e6e6;
}

.of-elegant-modal .control--radio .control__indicator {
  border-radius: 50%;
}

.of-elegant-modal .control:hover input ~ .control__indicator,
.of-elegant-modal .control input:focus ~ .control__indicator {
  background: #ccc;
}

.of-elegant-modal .control:hover input:not([disabled]):checked ~ .control__indicator,
.of-elegant-modal .control input:checked:focus ~ .control__indicator,
.of-elegant-modal .control input:checked ~ .control__indicator {
  background: #00ae3e;
}

.of-elegant-modal .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: .6;
  pointer-events: none;
}

.of-elegant-modal .control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.of-elegant-modal .control input:checked ~ .control__indicator:after {
  display: block;
}

.of-elegant-modal .control--checkbox .control__indicator:after {
  left: 8px;
  top: 5px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.of-elegant-modal .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.of-elegant-modal .control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.of-elegant-modal .control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.of-elegant-modal input::-ms-clear,
.of-elegant-modal input[type=password]::-ms-reveal {
  display: none;
}

:root .of-elegant-modal .of-forgot-container,
:root .of-elegant-modal .of-register-container,
_:-ms-fullscreen {
  top: 0;
  left: 0;
}

:root .of-elegant-modal .of-register-container {
  width: 100%;
}

@media screen and (min-width: 0\0) {
  .of-register-container {
    width: 100%;
  }

  .of-elegant-modal .of-forgot-container,
  .of-elegant-modal .of-register-container {
    top: 0;
    left: 0;
  }
}

.container-fluid.of-validation-tips.pb-4 {
  font-size: 12px;
}
.eror{
  font-size: 12px;  
  color: #F44336;
  font-weight: 700;
}
.cursor{
  cursor: pointer;
}