<template>
    <div>
        <aside class="left-sidebar">
      <ul class="nav-bar navbar-inverse">
        <li class="nav-item"> <a class="nav-link navbar-toggler sidebartoggler hidden-sm-down waves-effect waves-dark float-right" href="javascript:void(0)"><span class="navbar-toggler-icon"></span></a> </li>
      </ul>
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="clearfix"></li>
            <li class="active"> <a class="waves-effect waves-dark" href="/dash"><i class="fas fa-home"></i><span class="hide-menu">Beranda</span></a></li>
            <li><a href="/upload"><i class="fas fa-file-pdf"></i><span class="hide-menu">Unggah Berkas</span></a></li>
            <li><a href="/history"><i class="fas fa-clock"></i><span class="hide-menu">Riwayat</span></a></li>
            <li><a href="/tracking"><i class="fas fa-print"></i><span class="hide-menu">Tracking Dokumen</span></a></li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
